# ==============================
# DATA (DO NOT UPLOAD)
# ==============================
dataset/

# ==============================
# Python cache / junk
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual environments
# ==============================
venv/
env/
.venv/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# OS / Editor
# ==============================
.DS_Store
Thumbs.db
.vscode/

# ==============================
# Secrets
# ==============================
.env

# ==============================
# Model files (optional but recommended)
# ==============================
models/*.h5
models/*.keras
